.how-to-use.title-container {
	margin-bottom: 2em;
}
.step-box {
	background-color: #fff9c9;
	padding: 2em 10px;
	margin: 5em 0em;
	width: 300px;
	position: relative;
	border-radius: 8px;
}
.step-box p {
	text-align: left;
	font-size: 17px !important;
}
.step-heading {
	color: #5ca642;
	line-height: 1;
	font-size: 25px;
	font-weight: 600;
	margin-top: 0.5em;
}
.step-circle h3 {
	font-size: 35px;
	margin-top: -2px;
	color: #ffea4a;
	margin-bottom: 1px;
	font-weight: 600;
}
.step-circle h4 {
	font-size: 13px;
	margin-bottom: 0px;
	color: white;
	margin-top: 1em;
}
.step-circle {
	background-color: #5ca642;
	border-radius: 50%;
	width: 80px !important;
	height: 80px !important;
	padding: 0.1px;
	position: absolute;
	top: -50px;
	left: 105px;
}
.arrow {
	position: absolute;
	bottom: -50px;
	left: 115px;
}
.box-container {
	margin-bottom: 120px;
}
.how-to-use {
	margin-top: 2em;
}
@media only screen and (min-width: 1000px) {
	.step-circle h4 {
		font-size: 17px;
		margin-bottom: -5px;
		color: white;
		margin-top: 1em;
	}
	.step-circle h3 {
		font-size: 38px;
		margin-top: -2px;
		color: #ffea4a;
		margin-bottom: 1px;
		font-weight: 600;
	}
	.step-box p {
		text-align: left;
		font-size: 21px;
	}

	.step-circle {
		background-color: #5ca642;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		position: absolute;
		top: -50px;
		left: 300px !important;
	}
	.step-heading {
		color: #5ca642;
		line-height: 1;
		font-size: 35px;
		margin-top: 1em;
	}
	.step-box {
		background-color: #fff9c9;
		padding: 0.5em 1.5 !important;
		margin: 7em 1em;
		margin-bottom: 8em !important;
		width: 650px !important;
		position: relative;
	}
	.arrow {
		position: absolute;
		bottom: -50px;
		left: 308px !important;
	}
}
@media only screen and (min-width: 768px) {
	.step-circle h4 {
		font-size: 17px;
		margin-bottom: -5px;
		color: white;
		margin-top: 0.7em;
	}
	.step-circle h3 {
		font-size: 38px;
		margin-top: -2px;
		color: #ffea4a;
		margin-bottom: 1px;
		font-weight: 600;
	}
	.step-box p {
		text-align: left;
		font-size: 21px;
	}

	.step-circle {
		background-color: #5ca642;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		padding: 0.1px;
		position: absolute;
		top: -50px;
		left: 290px;
	}
	.step-heading {
		color: #5ca642;
		line-height: 1;
		font-size: 35px;
		margin: 0.8em 1em;
	}
	.step-box {
		background-color: #fff9c9;
		padding-top: 1em;
		padding-left: 1em;
		margin: 5em 1em;
		width: 640px;
		position: relative;
	}
	.arrow {
		position: absolute;
		bottom: -50px;
		left: 298px;
	}
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #5ca642;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #bcdd33;
}
