.secondPageContainer {
  background-color: white;
  display: flex;

  padding: 5vw;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
}

.secondPageContainer-title {
  margin: 12vh 0;
  font-family: 'Mincho';
}

.secondPageContainer-middlecontent {
  color: gray;
  display: flex;
  justify-content: center;
  padding: 0 0 5vw 0;
}

.secondPageContainer span {
  color: rgb(0, 197, 0);
}
