/* .navbar-nav > a {
  color: white !important;
} */

.mainNavBar-a {
  color: white !important;
  position: relative;
  padding: 0;
  margin: 1.8vh 0.5vw;
  white-space: nowrap;
  text-shadow: 0px 0px 4px #000000;
  text-align: center;
}

.mainNavBar-a:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 75%;
  height: 1px;
  bottom: 0vh;
  left: 50%;
  transform: translate(-50%);
  line-height: 1;
  background-color: rgb(255, 255, 255, 0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.mainNavBar-a:hover {
  color: yellow !important;
}

.mainNavBar-a:hover:after {
  /* width: 70%;
  left: 15%; */
  background-color: rgb(255, 255, 255, 1);
}

.navbar-brand {
  border: 1px solid rgb(0, 0, 0, 1) !important;
  padding: 5%;
  background-color: white;
  font-size: calc(0.5em + 0.5vw) !important;
}

@media only screen and (max-width: 991.5px) {
  .navbar {
    background-color: rgb(255, 255, 255, 0.6) !important;
  }

  .mainNavBar-a {
    color: black !important;
    position: relative;
    padding: 0;
    margin: 1.8vh 0.5vw;
    white-space: nowrap;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: 700;
    text-shadow: none;
  }

  .mainNavBar-a:after {
    width: 48%;
    /* background-color: black; */
  }

  .mainNavBar-a:hover:after {
    /* width: 70%;
    left: 15%; */
    background-color: black;
    height: 2px;
  }

  .navbar-collapse {
    height: 100vh;
  }

  .navbar-nav {
    height: 80vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-collapse {
  transition: all 0.3s linear !important;
  -webkit-transition: all 0.3s linear !important;
  -moz-transition: all 0.3s linear !important;
  -ms-transition: all 0.3s linear !important;
  -o-transition: all 0.3s linear !important;
}
